@import "src/styles/theme";

.Auth {
  background: $COLOR_MAIN;
  min-height: 100vh;
  color: $COLOR_TEXT;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Auth > form {
  background-color: $COLOR_SECOND;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 30px 30px rgba(0,0,0,0.5);
  width: 350px;
  min-height: 200px;
}

.inputBox {
  position: relative;
  span {
    position: absolute;
    top: 10px;
    color: #ccc;
  }
  input {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    border-bottom: 2px solid #ccc;
    background: transparent;
    font-size: 14px;
    padding-left: 25px;
    box-sizing: border-box;
    font-family: $FONT_BOLD;
  }
  &:focus {
    border-bottom: 2px solid #dc5151;
  }
  input::placeholder {
    font-family: $FONT_REGULAR;
  }
}

.Auth .Error {
  color: #dc5151;
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  font-family: $FONT_BOLD;
}