@import "src/styles/theme";

.Create {
  display: flex;
  justify-content: center;
}
.Create form {
  background-color: $COLOR_SECOND;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}