@import "src/styles/theme";

.Layout {
	min-height: 100vh;
	display: flex;
	background-color: $COLOR_MAIN;
	color: $COLOR_TEXT;
	font-family: $FONT_REGULAR;
}

.Layout main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 30px;
}

.Layout aside {
	background-color: $COLOR_SECOND;
	display: flex;
	flex-direction: column;
	width: 25%;
	box-shadow: 5px 0 10px -7px #111;
}
.Layout nav {

}
.Layout nav .menu {
	background-color: $COLOR_MAIN;
	padding: 15px 20px;
	color: $COLOR_TEXT;
	cursor: pointer;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
	font-family: $FONT_BOLD;
}
.Layout nav .menuItems {
	margin-top: 5px;

	font-size: 16px;
	font-family: $FONT_BOLD;
	.menuItem {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $COLOR_MAIN;
		padding: 0 20px;
		.item {
			display: block;
			padding: 15px 0;
			text-decoration: none;
			color: $COLOR_GRAY;
			width: 100%;
			&:hover {
				color: $COLOR_TEXT;
			}
		}
		.active {
			color: $COLOR_ADD;
			&:hover {
				color: $COLOR_ADD;
			}
		}
		.itemCreate {
			display: flex;
			text-decoration: none;
			svg {
				color: $COLOR_TEXT;
			}
		}
	}
}